*
{
    border: 0;
    padding: 0;
    margin: 0;
    list-style: none;
}

html
{
    background: #465567;
}

body
{ 
    background: #465567;
    color: #003366;
    font: 1em/100% Sans, Verdana;
    padding: 2em;
}

h1
{
    font-size: 1.2em;
    margin-top: 1em;
}

p
{
    text-align: justify;
    line-height: 1.4em;
    margin-top: 1em;
    font-size: 0.9em;
}

em
{
    font-size: 0.8em;
}

hr
{
    border-top: 1px solid gray;
}

#page
{
    width: 60%;
}

#header
{
    width: 100%;
}

#header ul
{
    text-align: center;
    margin: 0;
}

#header ul li
{
    display: inline;
}

#header a
{
    color: #435263;
    font-weight: bold;
    text-decoration: none;
    background-color: #e9f0f8;
    border: 0;
    padding: 1em 0.5em 1em 0.5em;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

#header a:hover
{
    background-color: #adcae9;
}

#main
{
    clear: both;
    margin-top: 2em;
    background: #e8e8d3;
    padding: 0.1em 1em 1em 1em;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}

#main a, #main a:link, #main a:visited
{
    color: #003366;
    text-decoration: none;
    font-weight: normal;
    border-bottom: 1px solid #003366;
}

#main a:hover
{
    color: #c66e19;
}

#main ul
{
    list-style: none;
    margin-left: 1em;
}

#main li
{
    font-size: 0.9em;
    margin-top: 0.5em;
}

#footer
{
    color: white;
    font-size: 0.7em;
    font-style: italic;
    text-align: center;
    margin-top: 1em;
}

#footer a, a:link, a:visited
{
    font-weight: bold;
    color: white;
    border-bottom: 1px solid white;
}

#footer a:hover
{
    color: #ff9933;
}

.centered
{
    margin-left: auto;
    margin-right: auto;
}